Package: com.ulissesms.infiniloader
Name: InfiniLoader
Version: 1.0.3
Architecture: iphoneos-arm
Depends: winterboard
Description: This is an animation loader that appears as though it is a circle unraveling infinitely.
Maintainer: ulissesms
Author: ulissesms <contato@ulissesms.com.br>
Section: Themes (SpringBoard)
